/* == SearchBar and iTunesSearch Header ==*/
#resultsLabel {
    display: none;
}

.input-group {
    font-family: 'Oswald', sans-serif;
}

.input-group-button {
    display: inline-block;
}

/* == Body ==*/
html, body {
    background-color: #f0f0f5;
    color: white;
    margin: 0;
}
p {
	color: black;
}
h1, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
    color: black;
}

ul li {
    list-style: none;
}

/* == Jumbotron ==*/
.container{
	position: relative;
	height: 400px;
	width: 100%;
	margin: 0;
}
.jumbotron {
	background: url('../images/guitar.jpg') no-repeat;
	background-size: 100%;
	height: 350px;
	width: 100%;
}
.jumbotron h1 {

	font-size: 80px;
	color: white;
	padding-left: 15px;
	text-shadow: 2px 2px 2px #000;
}

.jumbotron p {
	color: white;
	padding-left: 15px;
	text-shadow: 2px 2px 2px #000;
}

/* == Search Results List ==*/
.songListItem {
    display: inline-block;
    padding: 15px;
    vertical-align: top;
    box-sizing: border-box;
    margin: 5px;
}

/* == Scrolling ==*/
#backToTop {
    bottom: 20px;
    position: fixed;
    right: 2%;
    z-index: 100;
}

.scrollToTop {
    display: none;
}

.scrollToTop img {
    border: 0;
    height: 35px;
    width: 35px;
}
