/* == Body ==*/
html,
body {
    background-color: #f2f2f2;
    /*color: white;*/
    margin: 0;
}

h1,
h3,
h4,
h5 {
    font-family: 'Oswald', sans-serif;
    color: black;
}

p {
    color: black;
}

ul li {
    list-style: none;
}
.videoYoutube {
	height: 50px;
	width: 50%;
}

/* == SearchBar and iTunesSearch Header ==*/
#resultsLabel {
    display: none;
}

.input-group {
    font-family: 'Oswald', sans-serif;
}

.input-group-button {
    display: inline-block;
}
#pageNav {
	float: right; 
	margin-left: -5px;
}

/* == Jumbotron ==*/
.container {
    position: relative;
    height: 400px;
    width: 100%;
    margin: 0;
}

.jumbotron {
    background-image: url("../images/guitar.jpg");
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    height: 350px;
    width: 100%;
}

.jumbotron h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.jumbotron p {
	font-family: 'Gudea', sans-serif;
	color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

/* == Search Results List ==*/
.artWork {
    vertical-align: middle;
    width: 100%
}

#searchResultsList {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 80%
}

.songListItem {
    display: inline-table;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 5px;
    width: 250px;
    height: 150px;
    margin-top: 10px;
}

/* == Pagination ==*/
.easyPaginateNav a {
   position: relative;
   float: left;
   padding: 8px 12px;
   line-height: 1.42857143;
   text-decoration: none;
   color: #ffffff ;
   background-color: #222222 ;
   border: 1px solid #282828 ;
   margin-left: -1px;
   }
  .easyPaginateNav a.current {
    font-weight:bold;
    text-decoration:underline;
  }

/* == Scrolling ==*/
#backToTop {
    bottom: 40px;
    position: fixed;
    right: 2%;
    z-index: 100;
}

.scrollToTop {
    display: none;
}

.scrollToTop img {
    border: 0;
    height: 35px;
    width: 35px;
}
